<div>
    <pulse-loader :loading="pulseLoader.loading" :color="pulseLoader.color" :size="pulseLoader.size"></pulse-loader>
    
    <div v-if="totalElements == 0" class="alert alert-primary mb-0" role="alert">
        Sin registros...
    </div>
    <div v-if="totalElements > 0">
        <h6 class="border-bottom border-gray pb-2 mb-2">Tabla de registros</h6>
        <form lpformnum="1">
            <div class="form-group">
                <label for="inputQuery"><i class="fab fa-searchengin"></i> Buscar usuario</label>
                <input type="text" class="form-control" id="inputQuery" aria-describedby="emailHelp" placeholder="Ingrese una búsqueda...">
            </div>
        </form>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(person, key) in persons' :key='key'>
                    <th scope="row">{{ person.id }}</th>
                    <td>{{ person.fullname }}</td>
                    <td>{{ person.cellphone }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.persontype.description }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target=".modalEdit" @click="showModalEdit(person)">Editar</button>
                    </td>
                    <td><button type="button" class="btn btn-outline-danger btn-sm">Baja</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- MODAL -->
    <ModalEditPerson :editPerson="editPerson"></ModalEditPerson>
</div>