<div>
    <!-- MODAL -->
    <div class="modal fade modalEdit modalConfigEvents" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="far fa-edit"></i> Editar
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" v-show="modalError">
                        Algo salió mal, intenta de nuevo más tarde <strong>:'(</strong> - {{errorMessage}}                        
                    </div>
                    <form>
                        <div class="card border-dark mb-3">
                            <div class="card-body text-dark p-0">
                                <div class="d-flex p-3">
                                    <img :src="'/img/avatars/'+editPerson.imgpath+'.png'" v-if="editPerson.imgpath!=null" class="imgAvatar mr-2">
                                    <div class="lh-100">
                                        <h5 class="ml-1 mb-1">{{ editPerson.fullname }}</h5>
                                        <p class="ml-1 mb-2">Módulo para editar datos del usuario</p>
                                        <a href="#" class="badge badge-light mb-1" v-on:click.self.prevent="editAvatarClick()">Editar avatar</a>
                                    </div>
                                </div>
                                <div class="card border-0" v-if="showEditPerson">
                                    <div class="card-body text-dark border-top rounded-0 border-light">
                                        <div v-for="avatar in avatars" :key="avatar" class="d-inline">
                                            <img :src="'/img/avatars/'+avatar+'.png'" class="imgAvatar mr-2 mb-2 cursor-pointer" v-on:click="selectAvatarClick(avatar)">
                                        </div>
                                        <a href="#" class="badge badge-light mb-1 text-danger" v-on:click.self.prevent="editAvatarClick()"><i class="far fa-times-circle"></i> cerrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general"
                                    aria-selected="true">Información General</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-contacto" role="tab" aria-controls="nav-contacto"
                                    aria-selected="false">Contacto</a>
                                <a class="nav-item nav-link" id="nav-extra-tab" data-toggle="tab" href="#nav-extra" role="tab" aria-controls="nav-extra"
                                    aria-selected="false">Familiar</a>    
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade active show pt-3" id="nav-general" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Nombres</label>
                                        <input type="text" name="firstname" :class="{'form-control': true, 'is-invalid': errors.has('firstname') }" v-validate="'required|alpha_spaces'"
                                            placeholder="Introduzca sus nombres" v-model="editPerson.firstname">
                                        <span v-show="errors.has('firstname')" class="invalid-feedback">{{ errors.first('firstname') }}</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Apellidos</label>
                                        <input type="text" name="lastname" :class="{'form-control': true, 'is-invalid': errors.has('lastname') }" v-validate="'required|alpha_spaces'"
                                            placeholder="Introduzca sus apellidos" v-model="editPerson.lastname">
                                        <span v-show="errors.has('lastname')" class="invalid-feedback">{{ errors.first('lastname') }}</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Fecha de cumpleaños</label>
                                        <flat-pickr v-model="editPerson.birthdate" :config="flatPickrConfig" class="form-control" placeholder="Selecciona una fecha"
                                            name="birthdate"></flat-pickr>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">gender</label>
                                        <select v-model="editPerson.gender" class="form-control">
                                            <option value="male">Hombre</option>
                                            <option value="female">Mujer</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">email</label>
                                        <input type="email" :class="{'form-control': true, 'is-invalid': errors.has('email') }" name="email" v-validate="'required|email'"
                                            placeholder="Introduzca su email" v-model="editPerson.email">
                                        <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Profesión</label>
                                        <input type="text" name="profession" :class="{'form-control': true, 'is-invalid': errors.has('profession') }" v-validate="'required|alpha_spaces'"
                                            placeholder="Introduzca su profesión" v-model="editPerson.profession">
                                        <span v-show="errors.has('profession')" class="invalid-feedback">{{ errors.first('profession') }}</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">RFC</label>
                                        <input type="text" name="fiscalNumber" :class="{'form-control': true, 'is-invalid': errors.has('fiscalNumber') }" v-validate="'required|alpha_num|min:11|max:13'"
                                            placeholder="Introduzca su RFC" v-model="editPerson.fiscalNumber">
                                        <span v-show="errors.has('fiscalNumber')" class="invalid-feedback">{{ errors.first('fiscalNumber') }}</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">CURP</label>
                                        <input type="text" name="curp" :class="{'form-control': true, 'is-invalid': errors.has('curp') }" v-validate="'required|alpha_num|min:11|max:18'"
                                            placeholder="Introduzca su curp" v-model="editPerson.curp">
                                        <span v-show="errors.has('curp')" class="invalid-feedback">{{ errors.first('curp') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-3" id="nav-contacto" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Celular</label>
                                        <input type="text" name="cellphone" :class="{'form-control': true, 'is-invalid': errors.has('cellphone') }" v-validate="'required|digits:10'"
                                            placeholder="Introduzca su celular" v-model="editPerson.cellphone">
                                        <span v-show="errors.has('cellphone')" class="invalid-feedback">{{ errors.first('cellphone') }}</span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Teléfono</label>
                                        <input type="text" name="phone" :class="{'form-control': true, 'is-invalid': errors.has('phone') }" v-validate="'required|digits:10'"
                                            placeholder="Introduzca su teléfono" v-model="editPerson.phone">
                                        <span v-show="errors.has('phone')" class="invalid-feedback">{{ errors.first('phone') }}</span>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Código postal o Colonia</label>
                                        
                                        <autocomplete
                                            v-if="editPerson!==undefined"
                                            :source="typeConf.apiHostQuery"
                                            results-property="content"
                                            :results-display="formattedDisplay"
                                            ref="autocomplete"
                                            @selected="addAddressSelected">
                                        </autocomplete>
                                        
                                        <label for="address" class="mt-2">Dirección</label>
                                        <input class="form-control" placeholder="Dirección" v-model="addressStreet">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade pt-3" id="nav-extra" role="tabpanel" aria-labelledby="nav-extra-tab">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="lastname">Estado Civil</label>
                                        <select v-model="maritalstatus" class="form-control">
                                            <option
                                                :selected="marital.id === 2 ? 'selected' : ''"
                                                :value="marital.id"
                                                v-for="marital in maritalStatusArray">{{marital.description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="form-row" v-if="codePerson =='student'">
                                    <div class="form-group col-md-12">
                                        <label for="lastname">Relación</label>
                                        <select v-model="relationshipType" class="form-control">
                                            <option
                                                :value="relationship"
                                                v-for="relationship in relationshipTypeArray">{{relationship.description}}</option>
                                        </select>
                                    </div>
                                </div>
                                <label v-if="codePerson =='student'">Relacionar Tutor</label>
                                <div class="form-row" v-if="codePerson =='student'">
                                    <div class="form-group col-md-10">
                                        <autocomplete
                                            v-if="editPerson!==undefined"
                                            :source="typeConf.apiHostQueryPerson"
                                            results-property="content"
                                            :results-display="formattedDisplayPerson"
                                            ref="autocompletePerson"
                                            @selected="familySelected">
                                        </autocomplete>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <button 
                                            type="button" 
                                            @click="addFamily()"
                                            class="btn btn-outline-success btn-block">
                                                <i class="fas fa-user-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-row" v-if="familyPerson.length > 0">
                                    <h4>Familia {{ editPerson.lastname }}</h4>
                                </div>
                                <table class="table table-sm" v-if="familyPerson.length > 0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Relación</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Tutor</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(person, index) in familyPerson">
                                            <th scope="row">{{person.relatedPerson.id}}</th>
                                            <td>{{person.relationshipType.description}}</td>
                                            <td>{{person.relatedPerson.fullname}}</td>
                                            <td>
                                                <input 
                                                    type="checkbox" 
                                                    v-model="person.isTutor"
                                                    name="isTutor"
                                                    true-value="1"
                                                    false-value="0"
                                                    >
                                            </td>
                                            <td align="right">
                                                <button 
                                                    type="button" 
                                                    @click="removeFamily(index)"
                                                    class="btn btn-outline-danger btn-sm">eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="buttonDisabled">Close</button>
                    <button type="button" class="btn btn-primary" @click="updatePerson()" :disabled="buttonDisabled">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>