<div>
    <!--<pulse-loader :loading="pulseLoader.loading" :color="pulseLoader.color" :size="pulseLoader.size"></pulse-loader>-->
    
    <h6 class="border-bottom border-gray pb-2 mb-2">Tabla de registros</h6>
    <form lpformnum="1">
        <div class="form-group">
            <label for="inputQuery"><i class="fab fa-searchengin"></i> Buscar usuario</label>
            <input 
                type="text" 
                class="form-control" 
                id="inputQuery" 
                v-on:keyup="searchQuery($event.target.value)" 
                autocomplete="off"
                placeholder="Ingrese una búsqueda...">
        </div>
    </form>
    <div v-if="pagInfo.totalElements == 0" class="alert alert-primary mb-0" role="alert">
        Sin registros...
    </div>
    <div v-if="pagInfo.totalElements > 0">
        <div class="table-responsive">
            <button type="button" class="btn btn-secondary mb-3"><i class="fas fa-user-plus"></i> Agregar</button>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            <span class="cursor-pointer" @click="orderTable('id')">
                                id
                                <i v-show="pagInfo.sort.property == 'id' && pagInfo.sort.ascending == true" 
                                class="fas fa-sort-numeric-up"></i>
                                <i v-show="pagInfo.sort.property == 'id' && pagInfo.sort.descending == true" 
                                class="fas fa-sort-numeric-down"></i>
                            </span>
                        </th>
                        <th scope="col">
                            <span class="cursor-pointer" @click="orderTable('fullname')">
                                nombre
                                <i v-show="pagInfo.sort.property == 'fullname' && pagInfo.sort.ascending == true" 
                                class="fas fa-sort-alpha-up"></i>
                                <i v-show="pagInfo.sort.property == 'fullname' && pagInfo.sort.descending == true" 
                                class="fas fa-sort-alpha-down"></i>
                            </span>
                        </th>
                        <th scope="col">
                            <span class="cursor-pointer" @click="orderTable('cellphone')">
                                Celular
                                <i v-show="pagInfo.sort.property == 'cellphone' && pagInfo.sort.ascending == true" 
                                class="fas fa-sort-numeric-up"></i>
                                <i v-show="pagInfo.sort.property == 'cellphone' && pagInfo.sort.descending == true" 
                                class="fas fa-sort-numeric-down"></i>
                            </span>
                        </th>
                        <th scope="col">
                            <span class="cursor-pointer" @click="orderTable('email')">
                                Email
                                <i v-show="pagInfo.sort.property == 'email' && pagInfo.sort.ascending == true" 
                                class="fas fa-sort-alpha-up"></i>
                                <i v-show="pagInfo.sort.property == 'email' && pagInfo.sort.descending == true" 
                                class="fas fa-sort-alpha-down"></i>
                            </span>
                        </th>
                        <th scope="col">Tipo</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='(person, key) in persons' 
                        :key='key' 
                        :class="{'table-primary': person.id == editingPerson_id}">
                        <th scope="row">{{ person.id }}</th>
                        <td>{{ person.fullname }}</td>
                        <td>{{ person.cellphone }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.persontype.description }}</td>
                        <td>
                            <button
                                type="button" 
                                class="btn btn-outline-primary btn-sm" 
                                data-toggle="modal" 
                                data-target=".modalEdit"
                                @click="showModalEdit(person, key)">Editar</button>
                        </td>
                        <td>
                            <button
                                :disabled="me_id==person.id"
                                type="button" 
                                @click="confirmDelete(person)"
                                class="btn btn-outline-danger btn-sm">Baja</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav>
            <paginate 
                :page-count="pagInfo.totalPages" 
                :containerClass="'pagination'"
                :page-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-class="'page-item'"
                :prev-link-class="'page-link'"
                :next-class="'page-item'"
                :next-link-class="'page-link'"
                :click-handler="pageChanged" 
                :prev-text="'Anterior'" 
                :next-text="'Siguiente'">
            </paginate>
        </nav>
        <div>Página {{pagInfo.page+1}} de {{pagInfo.totalPages}} - ({{pagInfo.totalElements}} Elementos)</div>
    </div>
    <!-- MODAL -->
    <ModalEditPerson 
        :editPerson="editPerson"
        @personEdited="personEdited"
        @modalEditClose="modalClosed"></ModalEditPerson>
</div>