<div>
    <div class="modal fade modalSchoolYear modalConfigEvents" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="far fa-edit"></i> Editar ciclo escolar
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                    
                    <form data-vv-scope="form-schoolYear">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="name">Nombre del curso escolar</label>
                                <input 
                                    type="text" 
                                    name="name" 
                                    :class="{'form-control': true, 'is-invalid': errors.has('form-schoolYear.name') }"
                                    v-validate="'required'" 
                                    placeholder="Introduzca sus nombres" 
                                    v-model="schoolYear.name">
                                <span 
                                    v-show="errors.has('form-schoolYear.name')" 
                                    class="invalid-feedback">{{ errors.first('form-schoolYear.name') }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Fecha Inicio</label>
                                <flat-pickr 
                                    v-model="schoolYear.start" 
                                    :config="flatPickrConfig" 
                                    class="form-control" 
                                    placeholder="Selecciona una fecha"
                                    name="start"></flat-pickr>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Fecha Fin</label>
                                <flat-pickr 
                                    v-model="schoolYear.end" 
                                    :config="flatPickrConfig" 
                                    class="form-control" 
                                    placeholder="Selecciona una fecha"
                                    name="end"></flat-pickr>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="d-block">Estado del curso escolar</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radioA" name="radioStatus" v-model="schoolYear.status" value="A" class="custom-control-input">
                                    <label class="custom-control-label" for="radioA">Activo</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radioI" name="radioStatus" v-model="schoolYear.status" value="I" class="custom-control-input">
                                    <label class="custom-control-label" for="radioI">Inactivo</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="buttonDisabled">Close</button>
                    <button type="button" class="btn btn-primary" :disabled="buttonDisabled">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>