<div>
    <h6 class="border-bottom border-gray pb-2 mb-2">Tabla de cursos escolares</h6>
    <button
        type="button" 
        class="btn btn-secondary mb-3" 
        data-toggle="modal" 
        data-target=".modalEdit"
        @click="showModalAddSchoolYear()"><i class="fas fa-user-plus"></i> Agregar</button>

    <table class="table" v-if="schoolYears.length > 0">
        <thead class="thead-light">
            <tr>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
                <th scope="col">Curso</th>
                <th scope="col">Escuela</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(schoolYear, index) in schoolYears">
                <td>{{schoolYear.start}}</td>
                <td>{{schoolYear.end}}</td>
                <td>{{schoolYear.name}}</td>
                <td>{{schoolYear.school.name}}</td>
                <td>
                    <span class="badge badge-success" v-if="schoolYear.status == 'A'">
                        Activo
                    </span>
                    <span class="badge badge-secondary" v-if="schoolYear.status == 'I'">
                        Inactivo
                    </span>
                </td>
                <td>
                    <button 
                        type="button" 
                        class="btn btn-outline-primary btn-sm" 
                        data-toggle="modal" 
                        data-target=".modalSchoolYear"
                        @click="showModalAddSchoolYear(schoolYear)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <modalSchoolYear :schoolYear="schoolYear"></modalSchoolYear>
</div>