.form-signin {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}
.lineAuto {
    height: 168px;
    position: absolute;
    margin-left: 4%;
}

.lineAuto:before,
.lineAuto:after {
    content: "";
    width: 8px;
    height: 8px;
    background: $blue;
    border-radius: 5px;
    position: absolute;
    right: -3px;
}

.lineAuto:after {
    right: -3px;
    bottom: 0px;
}
.cursor-pointer{
    cursor: pointer !important;
}